<p><strong>Poll Question:</strong> {{ poll.question }}</p>
<ul style="list-style-type:none; position:relative;  top:12px; margin-bottom: 29px; ">
    <li ng-repeat="n in poll.options" style='margin: 10px;'>

      <button 
        class="btn btn-outline-success my-2 my-sm-0 z-primay specialbtn"
        style='min-width: 190px !important;' type="button" title="{{n}}"
        ng-click="vote(n,poll.pollid)" ng-style="{
            'background-color': event.themecolor,
            'transition': 'background-color 0.3s'
        }" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
        {{n}}
      </button>


    </li>
  </ul>